*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
}
.navbar{
    width: 100%;
    padding: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 20px;
}
li a:hover{
    background: white;
    transition: 0.5s;
}
.navbar a:hover{
    color: black;
}
.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
}
button{
    width: 150px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
button:hover{
    background: rgb(0, 192, 226);
    transition: 0.5s;
}
button:hover{
    color: white;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}


.big-shop{
    width: 100%;
    margin: 500px auto; 
}
.big-shop .shop-title{
    text-align: center;
    margin-bottom: 50px;
}
.big-shop .shop-title h2{
    font-weight: 700;
    font-family: 'Fenix' , serif;
}
.big-shop .shop-title p{
    font-size: 30px;
}
.big-shop .shop-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop-flex .shop-one{
    width: 30%;
}
.shop-flex img{
    width: 50%;
}
.shop-flex .shop-two{
    width: 44%;
}
.shop-flex .image-one{
    position: relative;
    margin-bottom: 50px;
}
.shop-flex .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.shop-flex .overlay .txt{
    color: #FFF;
}
.shop-flex .overlay .txt h3{
    margin-bottom: 3px;
}
.shop-flex .overlay .txt span{
    color: #45ccb8;
}
.shop-flex .overlay .link{
    position: absolute;
    bottom: 50px;
}
.shop-flex .overlay .link a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}
.shop-flex .overlay .link i{
    vertical-align: middle;
    transition: padding .4s ease-in-out;
    font-size: 50px;
}
.shop-flex .overlay .link a:hover i{
    padding-left: 3px;
}
.shop-flex .overlay .link a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    background: #FFF;
    width: 100%;
    height: 2px;
    transition: left .4s ease-in-out;
}
.shop-flex .overlay .link a:hover::before{
    left: 0;
}

.shop-flex .image-one:hover .txt{
    animation: job1 .7s ease-in-out forwards;
}

.shop-flex .image-one:hover .link{
    animation: job1_link .7s ease-in-out forwards;
}
.shop-flex .image-one:hover .overlay{
    opacity: 1;
}

.shop-flex .shop-two{
    position: relative;
    height: 100%;
}

.shop-flex .shop-two:hover .txt{
    animation: job1 .7s ease-in-out forwards;
}

.shop-flex .shop-two:hover .link{
    animation: job1_link .7s ease-in-out forwards;
}
.shop-flex .shop-two:hover .overlay{
    opacity: 1;
}

@keyframes job1 {
    0%{
        opacity: 0;
        margin-bottom: 70px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

@keyframes job1_link {
    0%{
        opacity: 0;
        bottom: 20px;
    }
    100%{
        opacity: 1;
        bottom: 50px;
    }
}


/* media  */

@media(max-width: 991px){
    .shop-flex .shop-one{
        width: 49%;
    }
    .shop-flex .shop-two{
        width: 49%;
    }
}

@media(max-width: 576px){
    .shop-flex .shop-one{
        width: 100%;
    }
    .shop-flex .shop-two{
        width: 100%;
    }
    .big-shop .shop-title h2{
        font-size: 24px;
    }
    .big-shop .shop-title p{
        font-size: 13px;
    }
}





.big-product{
    width: 90%;
    margin: 100px auto;
}
.big-product .product-title{
    margin-bottom: 50px;
    text-align: center;
}
.big-product .product-title p{
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 15px;
}
.big-product .product-title h2{
    font-weight: 600;
}
.big-product .product-title hr{
    width: 120px;
    margin: 14px auto;
    background: gray;
}
.big-product .product-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-flex .product-one{
    width: 24%;
    margin-bottom: 20px;
}
.product-flex .product-one img{
    width: 100%;
}
.product-flex .product-one .product-image{
    position: relative;
}
.product-one .product-image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.product-image .overlay i{
    margin: 0px 5px;
    padding: 5px;
    border: 1px solid #000;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
}


.product-one:hover .product-image .overlay i{
    animation: product_icon .5s ease-in-out forwards;
}

.product-one:hover .product-image .overlay i:nth-child(2){
    animation-delay: .2s;
}
.product-one:hover .product-image .overlay i:nth-child(3){
    animation-delay: .4s;
}

.product-one:hover .overlay{
    opacity: 1;
}

.product-one .product-image{
    margin-bottom: 15px;
}

@keyframes product_icon {
    0%{
        opacity: 0;
        margin-bottom: 50px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

.product-one .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.product-one .content h4{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}
.product-one .content section{
    font-size: 14px;
    font-weight: 600;
}
.product-one article{
    text-transform: uppercase;
    font-size: 14px;
}

/* media  */

@media(max-width: 991px){
    .big-product .product-one{
        width: 32%;
    }
}

@media(max-width: 768px){
    .big-product .product-one{
        width: 49%;
    }
}

@media(max-width: 576px){
    .big-product .product-one{
        width: 100%;
    }
    .big-product .product-title h2{
        font-size: 19px;
    }
    .big-product .product-title hr{
        width: 100px;
    }
}





.footer-image{
    display: flex;
    flex-wrap: wrap;
}
.footer-image .image1{
    width: 16.6%;
    position: relative;
}
.footer-image .image1 img{
    width: 100%;
}
.footer-image .insta{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease-in-out;
    opacity: 0;
}
.footer-image .insta img{
    width: 30px;
    cursor: pointer;
}
.footer-image .image1:hover .insta{
    opacity: 1;
}
.footer-image .image1:hover .insta img{
    animation: instagram .5s ease-in-out forwards;
}
@keyframes instagram {
    0%{
        opacity: 0;
        margin-bottom: 30px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

/* media query */

@media(max-width: 768px){
    .footer-image .image1{
        width: calc(100% / 3);
    }
}


@media(max-width: 576px){
    .footer-image .image1{
        width: calc(100% / 2);
    }
}

@media(max-width: 300px){
    .footer-image .image1{
        width: 100%;
    }
}

.bg-footer{
    width: 90%;
    margin: 0px auto;
}
.bg-footer .footer-flex{
    display: flex;
    justify-content: space-between;
    grid-row-gap: 20px;
    flex-wrap: wrap;
    margin: 50px 0px;
}
.bg-footer .footer-flex .footer1{
    width: 24%;
}
.footer-flex .footer1 h2{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.footer-flex .footer1 section{
    font-size: 14px;
}
.footer-flex .footer1 li{
    font-size: 14px;
}
.footer-flex .footer1 li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}
.footer-flex .footer1 .footer-logo{
    margin-top: 30px;
}
.footer1 .footer-logo img{
    width: 100%;
}
.bg-footer hr{
    background: #f9f9f9;
    margin: 15px 0px;
    height: 1px;
    width: 100%;
}
.bg-footer .copy{
    margin: 15px 0px;
    text-align: center;
}
.bg-footer .copy section{
    font-size: 14px;
    text-transform: capitalize;
}

.bg-footer .copy span{
    font-weight: bold;
    color: var(--main-color);
}

/* media query  */

@media(max-width: 768px){
    .bg-footer .footer-flex .footer1{
        width: 49%;
    }
}

@media(max-width: 576px){
    .bg-footer .footer-flex .footer1{
        width: 100%;
    }
}

.top{
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 122;
    border: 1px solid #000;
    border-radius: 50%;
    transition: .4s ease-in-out;
    cursor: pointer;
    display: none;
}
.top i{
    font-size: 20px;
    vertical-align: middle;
}
.top:hover{
    background: var(--main-color);
    box-shadow: 0px 0px 1px 1px var(--main-color);
    border-color: #f9f9f9;
    color: #FFF;
}